html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%; 
}

body {
	background-color: #000000;
	color: #FFFFFF;
}

#chatContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

#chatStatusContainer {
	flex: 1;

	display: flex;
	flex-direction: row;
}

#historyArea {
	flex: 1;
	width: auto;
	display: block;
	resize: none;
}

#chatterList {
	width: 157px;
	display: block;
}

#controlsContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#inputField {
	flex: 1;
	width: auto;
}

#sendButton {
	margin: 0;
}